.flex-grid {
    display: flex;
    flex-wrap: wrap;
}
.col {
    margin: .2em;
}
.crew-container {
    width: 170px;
    text-align: center;
}
.crew-name {
    font-weight: bold;
    text-align: center;
}
.crew-info {
    font-weight: bold;
    text-align: center;
}