.featured-post {
  
  margin: 5px 10px 10px;
  background: #333;
  border: white;
  border-style: ridge;
  position: relative;
}
.featured-post-image {
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% auto;
}
.featured-post img {
  width: 100%;
  height: auto;
}
.featured-post-title {
  display: inline-block;
  bottom: 0;
  margin: 0;
  padding: 10px;
  color: $brand-color;
}
.featured-post-title .title {
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  margin: 0;
}
.featured-post span a {
  color: $brand-color;
}
.featured-post h1 {
  margin: 10px;
}

/*
  Pagination
*/

.pagination {
  text-align: center;
}
.pagination a {
  text-decoration: none;
}
.pagination-button {
  color: #999;
  border: 1px solid #e0e0e0;
  padding: 15px 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}
.pagination-active {
  color: black;
}
.pagination-active:hover {
  background-color: #e0e0e0;
}
